.idea/
.nyc_output/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
coverage/
dist/
docs/
**/package-lock.json
**/*.js
!eslint.config.js
**/*.d.ts
!test/**/types/index.d.ts
*.tsbuildinfo
