* text=auto eol=lf

*.cjs linguist-detectable=false
*.css linguist-detectable=false

.cspell.json linguist-language=jsonc
**/tsconfig.json linguist-language=jsonc
**/tsconfig.*.json linguist-language=jsonc

/.yarn/** linguist-vendored
yarn.lock linguist-generated

/benchmarks/** linguist-vendored
