{
    "$schema": "http://json.schemastore.org/prettierrc",
    "plugins": ["prettier-plugin-packagejson"],
    "bracketSpacing": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.{json,yml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
