:root {
    --code-bg: #F0F0F0;
}

code {
    color: crimson;
    font-size: 1em;
    background-color: var(--code-bg);
}

pre > code {
    background-color: var(--code-bg);
}

pre {
    background-color: var(--code-bg);
}